
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#FF5B2E;
}
.btn__icon{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items:center;
    justify-content:center;  
    border-radius: 50%;
    background: #FFFAF5;
    border: 1px solid #FD5056;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
}
html{
    font-size: 62.5%;

}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

/* =========== Common ==========  */
a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Sora", sans-serif;
}
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn{
    --height:56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88,0.7);
    border-radius: 99px;
    text-align: center;
    font-weight: 600;
    color:#000958;
    transition: 0.3s;
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.btn--primary{
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.section-heading{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.92;
    color: #000958; 
    line-height: 60px;
}
.section-desc{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    color: #656689;
}

/* ========= ke thua cac thuc tinh cua the cha ========== */
input,
template,
select,
button{
    font-family: inherit;
    font-size: inherit;
}


/* ============ Heder =========== */
.header{
    width: 140rem;
    margin: 0 auto;
    margin-top: 51px;
    padding: 15px 0;
    outline: none;
    background-color: #e3b5b8;
    border-radius: 99px;

}
.header.fixed{
    position: sticky;
    top: 0px;
    z-index: 1;
}
/* Căn 3 khối lên 1 hang */
.hedear__inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
/* căn navbar lên 1 hang dọc */
.navbar__list{
    display: flex;
}
/* đặt khoang cách và kích thước cho chữ */
.navbar__link,
.header-action__link{
    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #5E6085;
}
/* Hiệu ứng hover vào chữ */
.navbar__link:hover{
    text-shadow: -1px 0 0 currentColor;
    color: #000958;
}
/* Tạo khoảng cách cho nut */
.header-action__btn{
    --height:50px;
    min-width: 118px;
}
/* ========== End Header ========== */

/* ========== Hero ========== */
/* Tao khoang cach ben tren */
.hero{
    margin-top: 74px;
}
/* cho 2 khoi len 1 hang */
.hero__inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    column-gap: 112px;
}
/* cho 2 khoi anh cua pet len tren 1 hang */
.hero__media{
    position: relative;
    display: flex;
    padding-bottom: 94px;
}
/* Căn chỉnh ảnh và kích thước của anh */
.hero__img-wrap{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #FE997B;
    border-radius: 16px;   
    border: 3px solid #FFFFFF
}
/* Cho độ rộng và chiều dài tối đa cảu ảnh */
.hero__img{
    max-width:100%;
    max-height:100%;
    border-radius: inherit;
}
/* Căn chỉnh ảnh decor */
.hero__decor{
    position: absolute;
    z-index: -1;
}
/* Căn chỉnh ảnh decor-01 */
.hero__decor-left{
    left: -58px;
    bottom: 10px;
}
/* Căn chỉnh ảnh decor-02 */
.hero__decor-right{
    top: 17px;
    right: -43px;
}
.hero__img-wrap-small{
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin:0 0 -54px -24px;
    border: 2px solid #fddee1;
    background: #FAA7AD;
}
/* ============= Hero-List ==========*/
.hero__list{
    position: absolute;
    left: 129px;
    bottom:0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    box-shadow: -17px 14px 68px -4px #CFAE8440;
    border-radius: 10px;
    background-color: #fff;
}
.hero__item{
    display: flex;
}
.hero__item-thumb{
    width: 40px;
    height: 40px;
    background-color: #FEC23F;
    border-radius: 10px;
    object-fit: cover;
}
.hero__info-title{
    font-family: Sora,sans-serif;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181E52;
}
.hero__info{
    margin-left: 10px;
}
.hero__item-thumb-blue{
    background-color: #6597C2;
}
.hero__info-skeleion-tough{
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    background: #ebebf2;
}
.hero__info-skeleion{
    margin-top: 6px;
    width: 39px;
    height: 4px;
    border-radius: 10px;   
    background: #ebebf2;
}
.hero-item__separate{ 
    width: 100%;
    height: 2px;
    border-radius: 99px;
    margin: 20px 0;
    background:#F2F2F2;
}
/* ========== Hero-content ========== */
.hero__heading{
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: #000958;
}
.hero__desc{
     margin-top: 24px;
     font-size: 1.6rem;
     max-width: 391px;
     font-weight: 400;
     line-height: 1.88;
     color: #656689;
}
.hero__row{
    margin-top: 38px;
}
.btn__cta-btn{
    --height:60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
}
.hero__cta-link{
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #000958;
    text-decoration: underline;
}
/* =========== About ========== */
.about{
    margin-top: 138px;
}
.about__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}
.about__label{
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5E6085;
}
.about__heading{
    margin-top: 15px;
    width: 446px;
}
.about__desc{
    margin-top: 24px;
    width: 431px;
}
.about__checklist{
    width: 477px;
    grid-auto-rows: 34px;
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about__check-item{
    position: relative;
    display:flex;
    align-items:center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #48496A;
}
.about__media{
    position: relative;
}
.about__check-item::before{
    margin-right: 10px;
    content: "";
    width: 24px;
    height: 24px;
    border-radius:4px;  
    background: #FF5D31;
}
.about__check-item::after{
    position: absolute;
    content: "";
    text-align: center;
    transform: translateX(-100%);
    margin-left: 14.5px;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 8px;
    border-left: 2px solid #FFF2E5;
    border-bottom: 2px solid #FFF2E5;
    rotate: -45deg;
    border-radius: 2px;
}
.about__card{
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px; 
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px #55F0FF2B;
}
.about__card-title{
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color:#FFFFFF;
    text-align: center;
}
.about__card-desc{
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
    text-align: center;
    color: #C6F4F9;
}
.about__card-decor{
    position: absolute;
    top: -39px;
    right: -32px;
}
/* ========== About image wrapper ============ */
.about__img-wrap{
    margin-left: auto;
    position: relative;
    width: 494px;
}
.about__img-wrap::after{
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: 10px;
    height: 336px;
    z-index: -1;
}
.about__img{
    display: block;
    margin: 0 auto;
    width: 450px;
}
.about__media-decor{
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__img-wrap-bottom{
    margin-left:0;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 17px 77px -8px #BEA58B2B;
    border-radius: 18px;
}
.about__img-wrap-bottom::after{
    content: none;
}
.about__img-bottom{
    width: 100%;
}
.about__decor-img{
    position: absolute;
}
.about__decor-img:nth-child(1){
     top: 13px;
     right: 64px;
}
.about__decor-img:nth-child(2){
    top: -16px;
    right: -13px;
}
.about__decor-img:nth-child(3){
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4){
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5){
    bottom: 150px;
    right: 19px;
}
.about__decor-img:nth-child(6){
    bottom: -40px;
    right: -23px;
}
.about__decor-img:nth-child(7){
    bottom: -47px;
    right: -33px;
}
.about__decor-img:nth-child(8){
    bottom: -55px;
    right: -42px;
}
.about__desc-bottom{
        width: 511px;
        margin-bottom: 50px;
}
.tab__list{
    position: relative;
    display: inline-flex;
    column-gap: 56px;
   
}
.tab__list::after,
.tab__item--active::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #FF5B2E;
    opacity: 0.07;
}
.tab__item--active::after{
    width: 95px;
    opacity: 1;
}
/* Them position: relative; dinh vi theo the gan nhat */
.tab__item{
    position: relative;
    display:flex;
    align-items:center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}
.tab__icon{
    width: 20px;
}
.tab__title{
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #48496A;
}
.tab__content{
    margin-top: 36px;
    
}
.tab__content-item{
    display: none;
}
.tab__content-item-active{
    display: block;
}
.tab__content-desc{
    width: 391px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;  
    color: #656689; 
}
.tab__content-more{
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #FF5D31;
    padding-bottom: 5px;
}
.tab__content-more::after{
    position: absolute;
    content: "";
    width: 86px;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1.5px solid #FF5D31;
    border-radius: 0.7px;
}

/* ========== Service ========== */
.service{
    margin-top: 190px;
}
.service__top{
    text-align: center;
}
.service__desc{
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5E6085;
    margin-bottom: 15px;
}
.service__body{
    display: grid;
    column-gap: 70px;
    margin-top: 70px;
    grid-template-columns: auto 1fr auto;
}
.service-item{
    padding: 30px 28px;
    width: 294px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 2px solid #FFBC7A42
}
.service-item + .service-item{
    margin-top: 24px;
}
.service-item__heading{
    position: relative;
    padding-left: 12px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: #000958;
}
.service-item__heading::before{
    position:absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(#FF5B2E,#FFA187 );
}
.service-item__desc{
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.17;
    color: #656689;
}
.sercice-item__more{
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #34396A;
}
.sercice-item__more-img{
    margin: 2px 0 0 6px;
}
.service__img{
    width: 100%;
}
.service__media{
    position: relative;
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.service__media::after{
    position: absolute;
    content: "";
    z-index: -1;
    height: 350px;
    bottom: 0;
    left:16px;
    right: 16px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);    
}
.service__cta-wrap{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.service__cta{
    min-width: 241px;
    border-color:currentColor;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: var(--primary-color);
}

/* ========== Staff ========== */
.staff{
   padding: 130px 0;
}
.staff__desc{
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;  
}
.staff__heading{
    margin-top: 15px;
    text-align: center;
}
.staff__list{
   margin-top: 45px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 35px;
}
.staff-item__img-wrap{
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}
.staff-item__img-wrap::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width:calc(100% + 50px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.staff-item:nth-child(1) .staff-item__img-wrap::after{
    background-image: url(../img/staff-decor-01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after{
    background-image: url(../img/staff-decor-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after{
    background-image: url(../img/staff-decor-03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before{
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after{
    background-image: url(../img/staff-decor-04.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after{
    bottom: initial;
    background-position: inherit;
    top: 16px;
}

.staff-item__img{
    display: flex;
    width: 100%;
    position: relative;
    border-radius: inherit;
}
.staff-item__title,
.staff-item__name,
.staff__cta-wrap{
    text-align: center;
}
.staff-item__title{
    margin: 43px 0 14px 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: #656689;
}
.staff-item__name{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: #000958;
}
.staff__cta-wrap{
   margin-top: 48px;
}
.staff__cta-btn{
    min-width: 193px;
    color: var(--primary-color);
    border-color: currentColor;
}


